@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Varela Round', sans-serif; */

}

nav ul {
    display: flex;
    list-style-type: none;
    height: 55px;
    background-color: palegreen;
    align-items: center;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li {
    padding: 0 12px;
}

.container{
    min-height: 63vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 75%;
    border-radius: 10px;
    padding: 34px;
    background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: palegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   

}
.icons{
    margin: 10px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 100vh;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white; 
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    width: 100%;
}

.songItem img{
    width: 43px;
    margin: 0 18px 0;
    border-radius: 34px;
    
} 

.timestamp{
    margin: 0 23px;
    

}
.timestamp i{
    margin: 0 23px;
    cursor: pointer;

}